@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

body {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

button {
  outline: none;
}

input {
  outline: none;
}

.container {
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #241b1b;
}

.link-all {
  font-size: 18px;
  font-weight: 300;
  color: #30b5d8;
  border-bottom: 1px dashed #30b5d8;
}

.btn-more {
  background: none;
  border: 3px solid #ace1ef;
  width: 355px;
  height: 66px;
  border-radius: 30px;
  color: #a9a9a9;
  font-size: 24px;
  font-weight: 300;
  display: block;
  cursor: pointer;
}

@font-face {
  font-family: 'UniSansThinCAPS';
  src: url("../fonts/UniSansThinCAPS.eot");
  src: local("☺"), url("../fonts/UniSansThinCAPS.woff") format("woff"), url("../fonts/UniSansThinCAPS.ttf") format("truetype"), url("../fonts/UniSansThinCAPS.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniSansThinHeavyCAPS';
  src: url("../fonts/UniSansHeavyCAPS.eot");
  src: local("☺"), url("../fonts/UniSansHeavyCAPS.woff") format("woff"), url("../fonts/UniSansHeavyCAPS.ttf") format("truetype"), url("../fonts/UniSansHeavyCAPS.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header__left {
  display: flex;
}

.header__logo {
  height: 70px;
}

.header__search {
  height: 70px;
  width: 285px;
  display: flex;
  background: #ededed;
}

.header__search-btn {
  border: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.header__search-input {
  height: 70px;
  width: 100%;
  background: none;
  border: none;
  font-weight: 300;
  font-size: 20px;
  color: #32272b;
}

.header__search-input::placeholder {
  font-weight: 300;
  font-size: 20px;
  color: #32272b;
}

.header__search-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.header__initialization {
  display: flex;
  align-items: center;
}

.header__initialization-sign {
  font-size: 18px;
  font-weight: 700;
  margin-right: 18px;
}

.header__initialization-registration {
  background: #30b5d8;
  width: 169px;
  padding: 14px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  display: block;
}

.menu__list {
  display: flex;
}

.menu__item {
  height: 70px;
  display: block;
  transition: .3s;
}

.menu__item:hover {
  background: #f7d54a;
}

.menu__link {
  display: block;
  padding: 22px 20px;
  font-size: 20px;
  font-weight: 300;
  color: #32272b;
}

.main {
  position: relative;
}

.main .main__slider-item {
  height: 560px;
  background: url(../imagines/main-slider-1.jpg) center no-repeat;
}

.slider-item__container {
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
  height: 560px;
  position: relative;
}

.slider-item__info {
  width: 480px;
  height: 300px;
  padding: 30px;
  background: #29abcd;
  position: absolute;
  right: 160px;
  bottom: 70px;
  z-index: 10;
  overflow: hidden;
}

.slider-item__info-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.slider-item__info-text {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.slider__dots {
  position: absolute;
  right: 0px;
  top: 90px;
  max-width: 480px;
  height: 400px;
  width: 100%;
  z-index: 300;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slider__dots-item {
  width: 160px;
}

.news {
  padding: 40px 0 78px;
}

.news__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #f7f7f7;
  align-items: flex-end;
  margin-bottom: 25px;
}

.news__top-left {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.news__title {
  margin-right: 40px;
}

.news__sorting-label {
  margin-top: 50px;
}

.news__btn-more {
  margin: 65px auto 0;
}

.news__sorting-text {
  font-size: 25px;
  font-weight: 300;
  color: #272727;
  margin-right: 40px;
}

.news__sorting-btn {
  background: none;
  border: none;
  border-radius: 3px;
  padding: 0 25px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  color: #656565;
  cursor: pointer;
}

.news__sorting-btn._active {
  background: #f2ca5b;
  color: #33282c;
  font-weight: 600;
}

.sorting-label {
  position: relative;
  background: #ebebeb;
  width: 350px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sorting-label__on-element {
  color: #30b5d8;
  font-size: 25px;
}

.sorting-label__popup {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 55px;
}

.sorting-label__list {
  background: #fff;
}

.sorting-label__item {
  cursor: pointer;
  font-size: 25px;
  color: #191919;
  font-weight: 300;
  padding: 12px;
  width: 350px;
  transition: .3s;
}

.sorting-label__item:hover {
  background: #eeeeee;
  color: #30b5d8;
}

.news__content-inner {
  display: grid;
  grid-template-columns: 400px 400px 290px 290px;
  grid-auto-rows: 320px 330px 320px;
}

.news__item {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background: #f3f0dc;
  display: flex;
  align-items: flex-end;
}

.news__item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.news__item-inner {
  position: relative;
  padding: 25px 30px 25px;
  z-index: 5;
}

.news__item-text {
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.new-title {
  font-family: 'UniSansThinCAPS';
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.new-title::before {
  content: '';
  width: 100px;
  height: 5px;
  background: #fec230;
  display: block;
  margin-bottom: 10px;
}

.news__item-1 {
  grid-column: 1/3;
}

.news__item-1 .news__item-title {
  font-family: 'UniSansThinHeavyCAPS';
  background: #9a304f;
  width: 480px;
  padding: 20px 25px;
  transform: skewX(-7deg);
  position: relative;
}

.news__item-1 .news__item-title::before {
  position: absolute;
  top: -10px;
  left: 0;
}

.news__item-2 {
  grid-column: 3/4;
}

.news__item-3 {
  grid-column: 4/4;
}

.news__item-4 {
  grid-column: 1/1;
  grid-row: 2/4;
  display: block;
}

.news__item-4 img {
  position: static;
}

.news__item-4 .news__item-inner::after {
  content: '';
  border: 20px solid transparent;
  border-bottom: 20px solid #f3f0dc;
  position: absolute;
  top: -44px;
  left: 20px;
}

.news__item-4 .news__item-title {
  color: #000;
  margin-bottom: 40px;
}

.news__item-5 {
  grid-column: 2/2;
  grid-row: 2/4;
}

.news__item-6 {
  grid-column: 3/5;
  grid-row: 2/2;
  align-items: flex-start;
}

.news__item-6 img {
  position: static;
}

.news__item-6 .news__item-title {
  color: #000;
  margin-bottom: 40px;
}

.news__item-6 .news__item-inner::after {
  content: '';
  border: 20px solid transparent;
  border-right: 20px solid #f3f0dc;
  position: absolute;
  top: 40px;
  left: -40px;
}

.news__item-7 {
  grid-column: 3/5;
  grid-row: 3/4;
}

.heavy-casp {
  font-family: 'UniSansThinHeavyCAPS';
}

.games {
  background: #2e8a7d;
  border-left: 70px solid #287e72;
  padding: 35px 0 100px;
  position: relative;
}

.games::before {
  content: '';
  border: 30px solid transparent;
  border-left: 70px solid #fff;
  position: absolute;
  left: -70px;
  top: -31px;
}

.games::after {
  content: '';
  border: 30px solid transparent;
  border-left: 70px solid #287e72;
  position: absolute;
  left: -70px;
  bottom: -29px;
}

.games__top {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
  padding-left: 30px;
}

.games__title {
  color: #fff;
  margin-right: 40px;
}

.games__link-all {
  color: #fff;
  border-bottom: 1px dashed #fff;
}

.games .slick-list {
  padding-top: 10px;
}

.games .slick-slide > div {
  display: flex;
}

.games .slick-arrow {
  background: #323232;
  width: 60px;
  height: 60px;
  border: none;
  position: absolute;
  top: -100px;
  cursor: pointer;
}

.games .slick-next {
  right: 0;
}

.games .slick-prev {
  right: 62px;
}

.games .slick-disabled {
  background: #247368;
}

.games__slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -87px;
  left: 50%;
  transform: translateX(-50%);
}

.games__slider-dots button {
  margin: 0 7.5px;
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #176459;
  cursor: pointer;
}

.games__slider-dots .slick-active button {
  background: #323232;
}

.games-slider__item {
  color: #000;
}

.games-slider__item-inner {
  display: flex;
  height: 320px;
}

.games-slider__item-box {
  background: #fff;
  padding: 20px 21px;
  position: relative;
}

.games-slider__item-appraisal {
  background: #f7d54a;
  width: 80px;
  height: 80px;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #000;
  position: absolute;
  right: 20px;
  top: -10px;
}

.games-slider__item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #010101;
  margin-bottom: 9px;
  width: 298px;
}

.games-slider__item-platforms span {
  line-height: 14px;
  font-size: 14px;
  font-weight: 300;
}

.games-slider__item-platforms span:nth-child(2) {
  color: #000;
}

.games-slider__item-platforms span:nth-child(2) {
  color: #050099;
}

.games-slider__item-platforms span:nth-child(3) {
  color: #2a9657;
}

.games-slider__item-platforms span:nth-child(4) {
  color: #050099;
}

.games-slider__item-description {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 23px;
  margin-top: 30px;
}

.games-slider__item-bottom {
  margin-top: 30px;
  position: absolute;
  bottom: 21px;
  left: 20px;
}

.games-slider__item-stat {
  margin-right: 24px;
}

.games-slider__item-stat span {
  font-size: 14px;
  font-weight: 600;
  color: #939393;
  margin-right: 3px;
}
